
<div id="theme_banner{{ module }}" class="panel panel-default theme-banner {{ title_position }}">
<div class="theme_banner_items{{ module }}">
  {% for banner in banners %}
  {% if banner.link %}
  <div class="theme-banner-item {% if banner_view == 'grid' %}pr{{ pr_id }} col-sm-4{% endif %} slide-{{ title_slide_status }}">
  <a href="{{ banner.link }}">
  <img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}" />
  <span class="theme-banner-bg"></span>
  <span class="btn btn-default theme-banner-title">{{ banner.title }}</span>
  <span class="btn btn-default theme-banner-title view-now">{{ t1o_text_view[lang_id] }}</span>
  </a>
  </div>
  {% else %}
  <div class="theme-banner-item {% if banner_view == 'grid' %}pr{{ pr_id }} col-sm-4{% endif %} slide-{{ title_slide_status }}">
  <img src="{{ banner.image }}" alt="{{ banner.title }}" title="{{ banner.title }}" />
  <span class="theme-banner-bg"></span>
  <span class="btn btn-default theme-banner-title no-link">{{ banner.title }}</span>
  </div>
  {% endif %}
  {% endfor %}
</div>
</div>

{% if banner_view == 'slider' %}
<script type="text/javascript"><!--
$('.theme_banner_items{{ module }}').owlCarousel({
	items: '{{ pr_id }}',
	autoPlay: 5000,
	singleItem: false,
	scrollPerPage: true,
	pagination: false,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
});
--></script>
{% endif %}


